/* create variables that are shared among stylings */
:root {
  --primary-color: #8bc6cd;
  --secondary-color: #30343c;
  --tertiary-color: #3e5674;
  --background-color: #ecedf5;
}

* {
  box-sizing: border-box;
}

/* Use rem units and set the font size that 1rem = 16px */
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* porfolio styling starts Here */

/* Use flexbox in header to split name and links evenly distributed */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: var(--secondary-color);
  padding: 1rem 0;
}

/* use flex to group name and avatar */
.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* porfolio name in header*/
.header__name {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0 1rem 0 3rem;
  margin-right: 0.6rem;
}

/* avatar in header */
.header__avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  border: 2px solid white;
}

/* remove dot, padding for header unorder list and make it flex */
.header-nav-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex: 1 1 auto;
}

/* style for each item inside unorder list in header */
.header-nav-list-item {
  margin-right: 1rem;
  transition: background-color 0.3s linear;
}

/* style for each individual link in header navigation */
.header-nav-link {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 0.3rem solid var(--primary-color);
  display: inline-block;
  transition: color 0.3s linear;
}

/* change background color when hover navigation item */
.header-nav-list-item:hover {
  background-color: var(--primary-color);
}

/* change link color when hover navigation item */
.header-nav-list-item:hover .header-nav-link {
  color: #fff;
}

/* set background image for banner */
.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 20rem rgb(3 46 137 / 45%);

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* give margin, padding and background color for subtaitle container */
.subtitle {
  background-color: var(--primary-color);
  margin: 0 4rem 1rem 0;
  padding: 1rem;
}

.subtitle__header {
  font-size: 1.8rem;
}

.subtitle__header--strong {
  font-weight: 800;
  font-size: 2.2rem;
}

/* main container starts here */

/* set background color and place items vertically in page wrapper */
.page-wrapper {
  background-color: var(--background-color);
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

/* each page section is a flexbox that wraps content if overflows  */
.page-section {
  display: flex;
  flex-flow: row wrap;
}

/* page section header fixes to 25% */
.page-section__header {
  flex: 0 0 25%;
  border-right: 0.3rem solid var(--tertiary-color);
  color: var(--tertiary-color);
  text-align: right;
  padding-right: 0.5rem;
  word-break: break-word;
  word-spacing: 100rem;
  font-size: 3rem;
}

/* page section content fixes to 75% */
.page-section__content {
  flex: 0 0 75%;
  padding: 0 2rem;
  color: var(--tertiary-color);
  font-size: 1.4rem;
}

/* style each project section */
.work-content {
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
}

.project-1 {
  background-image: url("../images/02-portfolio-1.jpg");
}

.project-2 {
  background-image: url("../images/02-portfolio-2.jpg");
}

.project-3 {
  background-image: url("../images/02-portfolio-3.jpg");
}

.project-4 {
  background-image: url("../images/02-portfolio-4.jpg");
}

.project-5 {
  background-image: url("../images/02-run-buddy.jpg");
}

/* project subtitle */
.project-info {
  background-color: var(--primary-color);

  align-self: flex-end;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 2.5rem;
  border: none;
  margin-left: -0.1rem;
  display: flex;
  flex-direction: column;
}

/* project name  */
.project-info__name {
  font-weight: bold;
}

/* project technology */
.project-info__tech {
  font-size: 1.5rem;
}

.work-content__part--full,
.work-content__part--small {
  border: 0.6rem solid var(--primary-color);

  display: flex;
}

/* set 100% width of parent for the first project */
.work-content__part--full {
  flex: 1 0 100%;
  height: 50rem;
}

/* set 45% width of parent for the remaining projects */
.work-content__part--small {
  flex: 1 0 45%;
  height: 25rem;
}

/* main container ends here */

/* media query for mobile device */
@media only screen and (max-width: 480px) {
  /* header starts here */
  .header__name {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .header__avatar {
    width: 4rem;
    height: 4rem;
  }

  .header__nav {
    width: 100%;
  }

  .header-nav-list {
    margin: 0.7rem 0 0 0;
    justify-content: space-evenly;
  }

  .header-nav-list-item {
    padding: 0.4rem;
  }

  .header-nav-link {
    font-size: 1.2rem;
    border-bottom-width: 0.2rem;
  }
  /* header ends here */

  /* banner starts here */
  .hero-banner {
    height: 10rem;
  }
  /* banner ends here */

  /* subtitle starts here */
  .subtitle {
    margin: 0 5rem 1rem 0;
  }

  .subtitle__header {
    font-size: 1.3rem;
  }

  .subtitle__header--strong {
    font-size: 1.7rem;
  }

  /* subtitle ends here */

  /* page wrapper starts here */
  .page-section__header {
    flex: 0 1 30%;
    text-align: left;
    border-right: none;
    word-spacing: 0;
    background-color: var(--primary-color);
    padding-left: 0.8rem;
    border-radius: 0.2rem;
    font-size: 1.5rem;
  }

  .page-section__content {
    flex: 0 0 100%;
    padding: 1rem 2rem;
  }

  /* reduce the height of the first project in a small screen*/
  .work-content__part--full {
    height: 25rem;
  }

  /* set 100% width of parent and reduce height for all 
  small projects in a small screen */
  .work-content__part--small {
    flex: 1 0 100%;
    height: 12.5rem;
  }

  .project-info {
    padding: 0.5rem;
  }

  .project-info__name {
    font-size: 2rem;
  }

  /* page wrapper ends here */
}

/* media query for larger mobile */
@media only screen and (min-width: 480px) {
  /* header starts here */
  .header__nav {
    width: 100%;
  }

  .header-nav-list {
    margin: 0.8rem 0 0 0;
    justify-content: space-evenly;
  }

  .header-nav-list-item {
    padding: 0.5rem;
  }

  .header-nav-link {
    font-size: 1.35rem;
    border-bottom-width: 0.25rem;
  }
  /* header ends here */

  /* banner starts here */
  .hero-banner {
    height: 10rem;
  }
  /* banner ends here */

  /* subtitle starts here */
  .subtitle {
    margin: 0 6rem 1rem 0;
  }
  .subtitle__header {
    font-size: 1.5rem;
  }

  .subtitle__header--strong {
    font-size: 1.9rem;
  }
  /* subtitle ends here */

  /* page wrapper starts here */
  .page-section__header {
    font-size: 1.5rem;
  }

  /* reduce the height of the first project in a small screen*/
  .work-content__part--full {
    height: 25rem;
  }

  /* set 100% width of parent and reduce the height
   for all small projects in a small screen */
  .work-content__part--small {
    flex: 1 0 100%;
    height: 12.5rem;
  }

  .project-info {
    padding: 0.5rem;
  }

  /* page wrapper ends here */
}

/* media query for portrait device */
@media only screen and (min-width: 600px) {
  /* header starts here */
  .header__nav {
    width: auto;
  }

  .header-nav-list {
    margin-right: 4rem;
    justify-content: flex-end;
  }

  .header-nav-list-item {
    padding: 0.6rem;
  }

  .header-nav-link {
    font-size: 1.5rem;
  }
  /* header ends here */

  /* banner starts here */
  .hero-banner {
    height: 12rem;
  }
  /* banner ends here */

  /* subtitle starts here */
  .subtitle {
    margin: 0 5rem 1rem 0;
  }
  .subtitle__header {
    font-size: 1.7rem;
  }

  .subtitle__header--strong {
    font-size: 2.1rem;
  }
  /* subtitle ends here */

  /* page wrapper starts here */
  .page-section__header {
    flex: 0 0 20%;
    font-size: 2rem;
  }

  .page-section__content {
    flex: 0 0 80%;
  }

  .work-content__part--full {
    height: 35rem;
  }

  .work-content__part--small {
    flex: 1 0 45%;
    height: 20rem;
  }

  .project-info {
    padding: 1rem;
  }
  /* page wrapper ends here */
}

/* media query for landscape device */
@media only screen and (min-width: 768px) {
  /* banner starts here */
  .hero-banner {
    height: 15rem;
  }
  /* banner ends here */

  /* subtitle starts here */
  .subtitle {
    margin: 0 4rem 1rem 0;
  }

  .subtitle__header {
    font-size: 1.8rem;
  }

  .subtitle__header--strong {
    font-size: 2.2rem;
  }
  /* subtitle ends here */

  /* page wrapper starts here */
  .page-section__header {
    flex: 0 0 25%;
    border-right: 0.3rem solid var(--tertiary-color);
  }

  .page-section__content {
    flex: 0 0 75%;
  }

  .work-content__part--full {
    height: 50rem;
  }

  .work-content__part--small {
    height: 25rem;
  }
  /* page wrapper ends here */
}

/* media query for laptop */
@media only screen and (min-width: 992px) {
}

/* media query for desktop */
@media only screen and (min-width: 1200px) {
}

/* porfolio styling ends Here */
