/* create variables that are shared among stylings */
:root {
  --primary-color: #8bc6cd;
  --secondary-color: #30343c;
}

* {
  box-sizing: border-box;
}

/* Use rem units and set the font size that 1rem = 16px */
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* porfolio styling starts Here */

/* Use flexbox in header to split name and links evenly distributed */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: var(--secondary-color);
  padding: 1rem 0;
}

/* use flex to group name and avatar */
.header__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* porfolio name in header*/
.header__name {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0 1rem 0 3rem;
  margin-right: 0.6rem;
}

/* avatar in header */
.header__avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  border: 2px solid white;
}

/* remove dot, padding for header unorder list and make it flex */
.header-nav-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex: 1 1 auto;
}

/* style for each item inside unorder list in header */
.header-nav-list-item {
  margin-right: 1rem;
  transition: background-color 0.3s linear;
}

/* style for each individual link in header navigation */
.header-nav-link {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 0.3rem solid var(--primary-color);
  display: inline-block;
  transition: color 0.3s linear;
}

.header-nav-list-item:hover {
  background-color: var(--primary-color);
}

.header-nav-list-item:hover .header-nav-link {
  color: #fff;
}

/* set background image for banner */
.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 20rem rgb(3 46 137 / 45%);
}

/* media query for mobile device */
@media only screen and (max-width: 480px) {
  /* header starts here */
  .header__name {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .header__avatar {
    width: 4rem;
    height: 4rem;
  }

  .header__nav {
    width: 100%;
  }

  .header-nav-list {
    margin: 0.7rem 0 0 0;
    justify-content: space-evenly;
  }

  .header-nav-list-item {
    padding: 0.4rem;
  }

  .header-nav-link {
    font-size: 1.2rem;
    border-bottom-width: 0.2rem;
  }
  /* header ends here */

  /* banner starts here */
  .hero-banner {
    height: 10rem;
  }
  /* banner ends here */
}

/* media query for larger mobile */
@media only screen and (min-width: 480px) {
  .header__nav {
    width: 100%;
  }

  .header-nav-list {
    margin: 0.8rem 0 0 0;
    justify-content: space-evenly;
  }

  .header-nav-list-item {
    padding: 0.5rem;
  }

  .header-nav-link {
    font-size: 1.35rem;
    border-bottom-width: 0.25rem;
  }

  /* banner starts here */
  .hero-banner {
    height: 10rem;
  }
  /* banner ends here */
}

/* media query for portrait device */
@media only screen and (min-width: 600px) {
  .header__nav {
    width: auto;
  }

  .header-nav-list {
    margin-right: 4rem;
    justify-content: flex-end;
  }

  .header-nav-list-item {
    padding: 0.6rem;
  }

  .header-nav-link {
    font-size: 1.5rem;
  }

  /* banner starts here */
  .hero-banner {
    height: 12rem;
  }
  /* banner ends here */
}

/* media query for landscape device */
@media only screen and (min-width: 768px) {
  /* banner starts here */
  .hero-banner {
    height: 15rem;
  }
  /* banner ends here */
}

/* media query for laptop */
@media only screen and (min-width: 992px) {
}

/* media query for desktop */
@media only screen and (min-width: 1200px) {
}

/* porfolio styling ends Here */
